.show-all-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #1976d2;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s;
}

.show-all-btn:hover {
  background-color: #125ea8;
  cursor: pointer;
}