<carousel [itemsPerSlide]="1" [interval]="2000" [noPause]="true" [isAnimated]="true" class="custom-carousel"
  [showIndicators]="false" #carousel>
  <slide *ngFor="let img of imageList; let i = index">
    <div class="carousel-slide-container">
      <img [src]="img" class="carousel-image" />
    </div>
  </slide>

  <a class="carousel-control-prev-custom" role="button" (click)="carousel.previousSlide()">
    <span class="carousel-control-icon">&#10094;</span> <!-- Unicode left arrow -->
  </a>

  <a class="carousel-control-next-custom" role="button" (click)="carousel.nextSlide()">
    <span class="carousel-control-icon">&#10095;</span> <!-- Unicode right arrow -->
  </a>

  <!-- Custom Indicators -->
  <div class="carousel-indicators-custom">
    <span *ngFor="let img of imageList; let i = index" [class.active]="carousel?.activeSlide === i"
      class="indicator-dot"></span>
  </div>
  <div class="signup-button-container">
    <button class="signup-button" routerLink="/blog-list">Read More Blog</button>
  </div>
</carousel>



<mat-card class="latest-blog-card">
  <div class="blog-date-container">
    <span class="blog-date" *ngIf="blog">🗓️ {{ blog.date | date:'mediumDate' }}</span>
  </div>

  <mat-card-header>
    <mat-card-title class="featured-title">🔥 Latest Blog</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <h2 *ngIf="blog" class="blog-title">{{ blog.title }}</h2>
    <p *ngIf="blog" class="blog-content">{{ blog.content }}</p>
    <p *ngIf="blog  == null" class="no-blog">
      No blog found, pls contact to admin on vikkityagi1998@gmail.com or 7017345391
    </p>


  </mat-card-content>
</mat-card>