<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let img of categoryList; let i = index" [class.active]="i === 0">
      <img [src]="img.imageUrl" class="d-block w-100 carousel-img" alt="Slide {{ i + 1 }}" />
      <div class="carousel-caption d-md-block bg-dark bg-opacity-50 rounded p-3">
        <h5>{{ img.name }}</h5>
        <p>{{ img.description }}</p>
        <a [routerLink]="['/blog-list', img.id, img.name]" class="btn btn-outline-light btn-sm">Read More</a>
      </div>
    </div>
    <div class="carousel-read-more">
      <a routerLink="/login" class="btn btn-light btn-lg shadow">Read More Blog</a>
    </div>
  </div>
  <!-- </div> -->


  <!-- Carousel controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
<br>

<mat-card class="latest-blog-card">
  <div class="blog-date-container">
    <span class="blog-date" *ngIf="blog">🗓️ {{ blog.date | date:'mediumDate' }}</span>
  </div>

  <mat-card-header>
    <mat-card-title class="featured-title">🔥 Latest Blog</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <h2 *ngIf="blog" class="blog-title">{{ blog.title }}</h2>
    <p *ngIf="blog" class="blog-content">{{ blog.content }}</p>
    <p *ngIf="blog  == null" class="no-blog">
      No blog found, pls contact to admin on vikkityagi1998@gmail.com or 7017345391
    </p>


  </mat-card-content>
</mat-card>